body {
  background-image: image-url("congruent_outline.png");
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: black;
}

h1 {
  background-color: white;
}

table, th, td {
    border: 3px solid black;
    margin: auto;
    padding: 4px;

}

h3 {
  background-color: white;
}

th {
    text-align: center;
    background-color: white;
}

td {
  background-color: white;
}